# Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import cufflinks as cf
import plotly
import plotly.offline as py
import plotly.graph_objs as go

## OpenStreetMaps

In [ ]:
!pip install overpy

Collecting overpy
  Downloading https://files.pythonhosted.org/packages/67/0b/df196ba469da920d97b5a32214c57c88caaf083dbd5fe0e581b7e781c7dd/overpy-0.6.tar.gz (47kB)
     |████████████████████████████████| 51kB 3.0MB/s
Building wheels for collected packages: overpy
  Building wheel for overpy (setup.py) ... done
  Created wheel for overpy: filename=overpy-0.6-cp37-none-any.whl size=14107 sha256=786a16b879d4aedc619b9e7d1ae11cf9391105d69ca264815451554797f57388
  Stored in directory: /root/.cache/pip/wheels/bb/84/dc/059d81d88c256d439283d61be933a88937f28fa1eb49f03876
Successfully built overpy
Installing collected packages: overpy
Successfully installed overpy-0.6

In [ ]:
import overpy
api = overpy.Overpass()

In [ ]:
r = api.query("""
[out:json];

area[name="Chicago"]->.a;

( node(area.a)[amenity=hospital];
);

out;
""")

In [ ]:
r = api.query("""

[out:csv(::id,::type,"name","addr:postcode","addr:city","addr:street","addr:housenumber","website"," contact:email=*")][timeout:600];

area[name="Chicago"]->.a;

( node(area.a)[amenity=hospital];

  way(area.a)[amenity=hospital];

  rel(area.a)[amenity=hospital];);

out center;
""")

## Parks

In [ ]:
url = 'https://data.cityofchicago.org/resource/2eaw-bdhe.json'
parks = pd.read_json(url)

In [ ]:
parks.columns

Index(['park_name', 'bowling_green', 'gymnastic_centers',
       ':@computed_region_43wa_7qmu', 'band_shell',
       'wheelchair_accessible_ball_fields', 'boat_slips', 'volleyball_sand',
       'park_class', 'alfred_caldwell_lily_pond', 'location', 'lagoon',
       'casting_area', 'nature_center', 'sport_roller_courts',
       'baseball_jr_softball_t_ball', 'baseball_sr', 'baseball_batting_cages',
       'sled_hill', 'wetland_area', 'fitness_center', 'bocce_court',
       'pool_indoor', 'cultural_center', 'carousel', 'water_playground',
       'community_garden', 'gymnasium', 'golf_putting_greens', 'skate_park',
       'acres', 'gallery', 'cricket_field', 'model_train_display',
       'boat_launch_non_motorized', 'rowing_club', 'pool_outdoor',
       ':@computed_region_rpca_8um6', 'basketball_backboards', 'shuffleboard',
       ':@computed_region_awaf_s7ux', 'pavillion', 'conservatory',
       'handball_raquetball_court', 'horseshoe_courts',
       'boat_launch_motorized', 'ice_skating', 'ward', 'model_yacht_basin',
       'zip', 'tennis_courts', 'beach', 'street_address', 'golf_course',
       'chess_pavillion', 'spray_feature', 'golf_course_miniature',
       'basketball_courts', 'handball', 'zoo', 'football_soccer_combo',
       'water_slide', 'senior_center', ':@computed_region_bdys_3d7i',
       'mountain_bike_trail', ':@computed_region_6mkv_f3dw', 'park_number',
       'dog_friendly', 'playground_park', 'artificial_turf_fields',
       'boxing_center', 'playground', 'label', 'fitness_courses', 'track',
       'garden', 'golf_driving_range', 'archery_range',
       ':@computed_region_vrxf_vc4k', 'volleyball', 'croquet'],
      dtype='object')

In [ ]:
parks.head()

         park_name  bowling_green  ...  volleyball  croquet
0  MCKEON (JOSEPH)              0  ...           0        0
1             OHIO              0  ...           0        0
2   ALTGELD (JOHN)              0  ...           0        0
3     PARK NO. 468              0  ...           0        0
4  RAINEY (EDWARD)              0  ...           1        0

[5 rows x 81 columns]

In [ ]:
parks["location"][0]

{'human_address': '{"address": "600 W 36TH ST", "city": "", "state": "", "zip": "60609"}',
 'latitude': '41.82903552510654',
 'longitude': '-87.64121494764093',
 'needs_recoding': False}

## Crime

In [ ]:
url = "https://data.cityofchicago.org/resource/dfnk-7re6.json"
crime = pd.read_json(url)

In [ ]:
crime.head()

      case_  ... :@computed_region_vrxf_vc4k
0  JE145602  ...                         NaN
1  JE173033  ...                         NaN
2  JE268855  ...                         NaN
3  JE242132  ...                         NaN
4  JD390623  ...                        68.0

[5 rows x 22 columns]

## Energy use

In [ ]:
url = "https://data.cityofchicago.org/resource/jn94-it7m.json"
energy_use = pd.read_json(url)

In [ ]:
energy_use.head()

                                            location  ...  district_steam_use_kbtu
0  {'latitude': '41.70649646', 'needs_recoding': ...  ...                      NaN
1  {'latitude': '41.886495', 'needs_recoding': Fa...  ...                      NaN
2  {'latitude': '41.75582921', 'needs_recoding': ...  ...                      NaN
3  {'latitude': '41.75629268', 'needs_recoding': ...  ...                      NaN
4  {'latitude': '42.01036185', 'needs_recoding': ...  ...                      NaN

[5 rows x 27 columns]

## Traffic

In [ ]:
url = "https://data.cityofchicago.org/resource/pf56-35rv.json"
traffic = pd.read_json(url)

In [ ]:
traffic.head()

   :@computed_region_43wa_7qmu  ...    id
0                          7.0  ...   414
1                         32.0  ...   176
2                         33.0  ...  1367
3                          9.0  ...   316
4                         47.0  ...  1294

[5 rows x 15 columns]

## Air quality

In [3]:
url_air_quality = 'https://data.cityofchicago.org/resource/i9rk-duva.json'
air_quality = pd.read_json(url_air_quality)

In [4]:
air_quality.head()

   inspection_number  ... :@computed_region_43wa_7qmu
0            1241416  ...                          46
1            1043732  ...                          28
2            1375696  ...                           1
3            1521733  ...                          48
4             499226  ...                           5

[5 rows x 22 columns]